footer {
    @extend %displayFlexRowCenter;
    justify-content: space-between;
    height: 8vh;
    border-top: 2px solid $blue;

    .site-info {
        display: inline-flex;
        align-items: center;
        width: 75%;
        margin: 0 2%;

        a {
            height: 1%;
            margin-right: 0.5%;
            color: $black;
            text-transform: uppercase;
    
            @include transition(color 0.4s);
    
            &:hover {
                color: $blue;
            }
        }
    }
}