.main-navigation {
  width: 50%;
  height: auto;

  .menu {
    @extend %displayFlexRowCenter;
    justify-content: flex-end;
    margin: 0;
    padding: 0;

    li {
      margin: 0 5%;
      list-style: none;

      a {
        color: $black;
        text-decoration: none;
        text-transform: uppercase;

        @include transition(color 0.4s);

        &:hover {
          color: $blue;
        }
      }
    }
  }
}
