/*
Theme Name: Exercice 9 - Child
Theme URI: 127.0.0.1/tp2-veille
Description: Child theme of Exercice 9 - Programmation et Veille Technologique
Author: Jordan Lapointe
Author URI: jordanlapointe.ca
Template: tp2-veille
Version: 1.0
Text Domain: exercice-9-child
*/

/************ Imports ************/

/** Variables **/
/** Mixins **/
/** Extends **/
/** Fonts **/
/** Header **/
/** Navigation **/
/** Default Settings (Content) **/
/** Content **/
/** Gutenberg Classes **/
/** Footer **/

/*********************************/

@import "_variables.scss";
@import "_mixins.scss";
@import "_extends.scss";
@import "_fonts.scss";
@import "_header.scss";
@import "_navigation.scss";
@import "_defaultSettings.scss";
@import "content/_content.scss";
@import "_footer.scss";

/*********************************/
