.container-evenements {
    width: 90vw;
    border: 2px solid $black;

    display: grid;
    grid-template-columns: repeat(3, 30vw);
    margin: 2%;

    .articles-evenements {
        border: 2px solid $blue;
        width: 29.85vw;

        .content-post {
            @extend %displayFlexColumnCenter;

            .title-article {
                margin-bottom: 0;

                a {
                  color: $blue;
                  text-transform: uppercase;
        
                  @include transition(color 0.4s);
        
                  &:hover {
                    color: lighten($blue, 20%);
                  }
                }
            }

            .post-date {
                margin: 2% 0;
            }

            p {
                margin-top: 0;
            }
        }
    }
}